<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjima_server.mapper.AgreementPartyMapper">
  <insert id="insert" parameterType="com.itjima_server.domain.AgreementParty"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO AGREEMENT_PARTIES (agreement_id, user_id, role, confirm_at)
    VALUES (#{agreementId}, ${userId}, #{role}, #{confirmAt})
  </insert>
  <select id="findByAgreementIdAndRole" resultType="com.itjima_server.domain.AgreementParty">
    SELECT id, agreement_id, user_id, role, confirm_at
    FROM AGREEMENT_PARTIES
    WHERE agreement_id = #{agreementId}
      AND role = #{role}
  </select>
  <update id="updateConfirmedAtById">
    UPDATE AGREEMENT_PARTIES
    SET confirm_at = #{confirmedAt}
    WHERE id = #{id}
  </update>
</mapper>