<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjima_server.mapper.ItemMapper">
  <insert id="insert" parameterType="com.itjima_server.domain.Item" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO ITEMS (user_id, type, title, description)
    VALUES (#{userId}, #{type}, #{title}, #{description})
  </insert>
  <select id="existsById" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM ITEMS
    WHERE id = #{id}
  </select>
  <update id="update" parameterType="com.itjima_server.domain.Item">
    UPDATE ITEMS
    SET title       = #{title},
        description = #{description}
    WHERE id = #{id}
  </update>
</mapper>