<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjima_server.mapper.NotificationMapper">
  <insert id="insert" parameterType="com.itjima_server.domain.notification.Notification"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO NOTIFICATIONS (agreement_id, user_id, type, message, read_at)
    VALUES (#{agreementId}, #{userId}, #{type}, #{message}, #{readAt})
  </insert>
</mapper>