<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjima_server.mapper.UserMapper">
  <select id="existsByEmail" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM USERS
    WHERE email = #{email}
  </select>
  <select id="existsByPhone" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM USERS
    WHERE phone = #{phone}
  </select>
  <insert parameterType="com.itjima_server.domain.user.User" id="insert" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO USERS (name, email, password, phone, provider)
    VALUES (#{name}, #{email}, #{password}, #{phone}, #{provider})
  </insert>

  <select id="findById" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id
    FROM USERS
    WHERE id = #{id}
  </select>
  <select id="findByEmail" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id
    FROM USERS
    WHERE email = #{email}
  </select>
  <update id="updatePhoneById">
    UPDATE USERS
    SET phone    = #{phone}
    WHERE id = #{id}
  </update>
  <update id="updatePasswordById">
    UPDATE USERS
    SET password = #{password}
    WHERE id = #{id}
  </update>
</mapper>