<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itjima_server.mapper.UserMapper">
  <select id="existsByEmail" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM USERS
    WHERE email = #{email}
      AND status = 'ACTIVE'
  </select>
  <select id="existsByPhone" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM USERS
    WHERE phone = #{phone}
      AND status = 'ACTIVE'
  </select>
  <insert parameterType="com.itjima_server.domain.user.User" id="insert" useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO USERS (name, email, password, phone, provider, email_verified,
                       email_verification_token, email_token_generated_at)
    VALUES (#{name}, #{email}, #{password}, #{phone}, #{provider}, #{emailVerified},
            #{emailVerificationToken}, #{emailTokenGeneratedAt})
  </insert>

  <select id="findById" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE id = #{id}
      AND status = 'ACTIVE'
  </select>
  <select id="findByEmail" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE email = #{email}
      AND status = 'ACTIVE'
  </select>
  <update id="updatePhoneById">
    UPDATE USERS
    SET phone = #{phone}
    WHERE id = #{id}
  </update>
  <update id="updatePasswordById">
    UPDATE USERS
    SET password = #{password}
    WHERE id = #{id}
  </update>
  <update id="updateEmailVerification" parameterType="com.itjima_server.domain.user.User">
    UPDATE USERS
    SET email_verified           = #{emailVerified},
        email_verification_token = #{emailVerificationToken},
        email_token_generated_at = #{emailTokenGeneratedAt}

    WHERE id = #{id}
  </update>
  <select id="findByEmailVerificationToken" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE email_verification_token = #{emailVerificationToken}
  </select>
  <delete id="deleteById">
    DELETE
    FROM USERS
    WHERE id = #{id}
  </delete>
  <select id="findByProviderAndProviderId" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE provider = #{provider}
      AND provider_id = #{providerId}
      AND status = 'ACTIVE'
  </select>
  <update id="updateProviderInfo" parameterType="com.itjima_server.domain.user.User">
    UPDATE USERS
    SET provider    = #{provider},
        provider_id = #{providerId}
    WHERE id = #{id}
  </update>
  <select id="findByNameAndPhone" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE name = #{name}
      AND phone = #{phone}
      AND status = 'ACTIVE'
  </select>
  <select id="findByNameAndPhoneAndEmail" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE name = #{name}
      AND phone = #{phone}
      AND email = #{email}
      AND status = 'ACTIVE'
  </select>
  <update id="updatePasswordResetById">
    UPDATE USERS
    SET password_reset_token = #{passwordResetToken},
    password_token_generated_at = #{passwordTokenGeneratedAt}
    <if test="password != null and password != ''">
      ,password = #{password}
    </if>
    WHERE id = #{id}
  </update>
  <select id="findByPasswordResetToken" resultType="com.itjima_server.domain.user.User">
    SELECT id,
           name,
           email,
           password,
           phone,
           created_at,
           updated_at,
           provider,
           provider_id,
           status,
           deleted_at,
           email_verified,
           email_verification_token,
           email_token_generated_at,
           password_reset_token,
           password_token_generated_at
    FROM USERS
    WHERE password_reset_token = #{passwordResetToken}
      AND status = 'ACTIVE'
  </select>
  <update id="updateDeleteStatusById">
    UPDATE USERS
    SET status     = 'DELETED',
        deleted_at = NOW()
    WHERE id = #{id}
  </update>
</mapper>